@charset "UTF-8";
@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; } }

@keyframes showFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
    visibility: hidden; }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible; } }

@keyframes showFromRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible; } }

@keyframes navLinkFade {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slideshow {
  0% {
    transform: scale(1.2); }
  10% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* @include respond(phone) {
		font-size: 45%;
	}
	 */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 75.06em) {
    html {
      font-size: 62.5%; } }

body {
  box-sizing: border-box;
  overflow: overlay; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.heading-primary--main {
  display: block;
  font-size: 7.5rem;
  letter-spacing: 1.6rem;
  margin-bottom: 0.5rem;
  font-family: 'Luckiest Guy', cursive;
  animation: moveFromTop 2s ease-in-out; }
  @media (max-width: 37.5em) {
    .heading-primary--main {
      letter-spacing: 0.5rem; } }

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  letter-spacing: 0.8rem;
  font-family: 'Kaushan Script', cursive;
  backface-visibility: hidden;
  animation: showUp 1s ease-in-out; }

.mountain__text {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5rem;
  visibility: hidden; }
  .mountain__text--header {
    font-size: 4rem;
    margin: 3rem;
    text-align: center; }
    @media (max-width: 37.5em) {
      .mountain__text--header {
        font-size: 3rem; } }
  .mountain__text--paragraph {
    font-size: 2rem;
    text-align: justify;
    letter-spacing: 1.5px;
    font-style: italic;
    margin-bottom: 6rem; }

.journey__text {
  text-align: center;
  visibility: hidden; }
  .journey__text--header {
    font-size: 4rem;
    margin: 4rem; }
    @media (max-width: 37.5em) {
      .journey__text--header {
        font-size: 3rem; } }
  .journey__text--paragraph {
    font-size: 2rem;
    text-align: justify;
    margin-bottom: 4rem;
    letter-spacing: 2px; }
    @media (max-width: 75em) {
      .journey__text--paragraph {
        font-size: 1.5rem;
        letter-spacing: 1px;
        padding-left: 3rem;
        padding-right: 3rem;
        text-align: center; } }
    @media (max-width: 37.5em) {
      .journey__text--paragraph {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center; } }

.caption {
  padding: 3rem;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center; }

.alert {
  font-size: 1.3rem; }

.u-center-text {
  text-align: center; }

.u-display-block {
  display: block; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.booking-card {
  outline: 1px solid #1b2835;
  outline-offset: -1.5rem;
  background-color: white;
  position: relative;
  z-index: 1;
  display: table;
  margin: 0 auto; }
  .booking-card__img-1 {
    height: 22rem;
    width: 40rem;
    background-image: url(../img/twin-rooms.jpg);
    background-size: cover; }
    @media (max-width: 37.5em) {
      .booking-card__img-1 {
        width: 37rem; } }
  .booking-card__img-2 {
    height: 22rem;
    width: 40rem;
    background-image: url(../img/double-rooms.jpg);
    background-size: cover; }
    @media (max-width: 37.5em) {
      .booking-card__img-2 {
        width: 37rem; } }
  .booking-card__img-3 {
    height: 22rem;
    width: 40rem;
    background-image: url(../img/suites.jpeg);
    background-size: cover; }
    @media (max-width: 37.5em) {
      .booking-card__img-3 {
        width: 37rem; } }

.booking-card-paragraph {
  padding: 2rem;
  font-size: 2.5rem;
  color: #1b2835;
  font-weight: 600;
  font-style: italic; }

.ul__booking {
  list-style: none;
  font-size: 1.6rem;
  position: absolute;
  margin-left: 6rem;
  margin-right: 3rem; }

.ul__booking .li__booking:before {
  content: '✓';
  padding-right: 1rem;
  margin-left: -2.3rem; }

.li__booking {
  margin-top: 0.4rem; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.4rem 4rem;
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
  border: 1px solid #1b2835; }
  .btn--white {
    background-color: white;
    color: #1b2835;
    font-weight: 600;
    text-align: center; }
    .btn--white::after {
      background-color: #1b2835;
      color: white;
      border: solid #1b2835; }
    .btn--white:hover {
      background-color: #1b2835;
      color: white; }
    .btn--white-room {
      margin-top: 28rem; }
      .btn--white-room-booking {
        margin-top: 2rem; }

.btn-text:link, .btn-text:visited {
  font-size: 1.8rem;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px solid black;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.5rem; }
  @media (max-width: 37.5em) {
    .btn-text:link, .btn-text:visited {
      font-size: 1.5rem; } }

.btn-text:before {
  content: "LEARN\00a0MORE\00a0 ABOUT\00a0PARADISE\00a0INN";
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  color: #a17a23;
  overflow: hidden;
  transition: all 1s linear;
  border-bottom: 2px solid #a17a23;
  padding-bottom: 0.4rem; }

.btn-text:hover:before {
  width: 100%; }

.card {
  height: 45rem;
  overflow: hidden;
  position: relative; }
  @media (max-width: 75em) {
    .card {
      width: 33rem;
      display: table;
      margin: 0 auto; } }
  .card__card--1 {
    background-image: url(../img/indoor-yoga.jpg);
    height: 100%;
    transition: all .5s; }
    .card__card--1:hover {
      transform: scale(1.1); }
  .card__card--2 {
    background-image: url(../img/snow.jpg);
    height: 100%;
    transition: all .5s; }
    .card__card--2:hover {
      transform: scale(1.1); }
  .card__card--3 {
    background-image: url(../img/lake.jpg);
    height: 100%;
    transition: all .5s; }
    .card__card--3:hover {
      transform: scale(1.1); }

.glassEffect {
  background-color: white;
  position: absolute;
  height: 0;
  width: 25rem;
  margin: 3.3rem 2.5rem;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: height 1s ease; }
  @media (max-width: 75em) {
    .glassEffect {
      width: 28rem; } }

.card:hover .glassEffect {
  height: 38.3rem;
  opacity: 0.2; }

.journey-animation {
  visibility: hidden; }

.carousel-container {
  position: relative;
  visibility: hidden;
  overflow: hidden; }
  @media (max-width: 75em) {
    .carousel-container {
      height: 20rem;
      width: 35rem;
      display: table;
      margin: 0 auto; } }

.carousel-container img {
  background-size: cover;
  height: 40rem;
  width: 100%;
  border-radius: 1rem; }
  @media (max-width: 75em) {
    .carousel-container img {
      height: 20rem;
      width: 35rem; } }

.carousel__text {
  text-align: center;
  visibility: hidden; }
  @media (max-width: 75em) {
    .carousel__text {
      padding: 3rem; } }
  @media (max-width: 37.5em) {
    .carousel__text {
      padding: 2rem; } }
  .carousel__text--header {
    font-size: 5rem;
    margin: 4rem; }
    @media (max-width: 75em) {
      .carousel__text--header {
        font-size: 4rem; } }
    @media (max-width: 37.5em) {
      .carousel__text--header {
        font-size: 3rem; } }
    .carousel__text--header-block {
      display: block; }
  .carousel__text--paragraph {
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 3.5rem; }
    @media (max-width: 75em) {
      .carousel__text--paragraph {
        font-size: 1.5rem;
        letter-spacing: 1px; } }

.carousel {
  display: none; }

.numbertext {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  border-top-left-radius: 1rem; }

.login__form-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 41rem;
  padding: 3rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
  .login__form-container form {
    margin-top: -2rem; }
    .login__form-container form .forgot-pass {
      margin-top: -8px; }
      .login__form-container form .forgot-pass a {
        color: #1b2835;
        text-decoration: none;
        font-size: 1.7rem;
        font-weight: 600; }
        .login__form-container form .forgot-pass a:hover {
          text-decoration: underline; }
  .login__form-container form .data {
    height: 4.5rem;
    width: 100%;
    margin: 4rem 0; }
    .login__form-container form .data label {
      font-size: 1.8rem; }
    .login__form-container form .data input {
      height: 100%;
      width: 100%;
      padding-left: 1rem;
      font-size: 1.7rem;
      border: 1px solid lightgrey; }
  .login__form-container form .form-btn {
    margin: 3rem 0;
    height: 4.5rem;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .login__form-container form .form-btn .inner {
      height: 100%;
      width: 300%;
      position: absolute;
      left: -100%;
      z-index: -1;
      background-color: #1b2835; }
    .login__form-container form .form-btn button {
      height: 100%;
      width: 100%;
      background: none;
      border: none;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer; }
  .login__form-container form .signup-link {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500; }
    .login__form-container form .signup-link a {
      color: #1b2835;
      font-size: 1.8rem;
      font-weight: 500;
      text-decoration: none; }
      .login__form-container form .signup-link a:hover {
        text-decoration: underline; }

.close-btn {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  font-size: 1.8rem;
  cursor: pointer; }

.form-text-primary {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center; }

.box {
  position: absolute;
  width: 120rem;
  height: 35rem;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19); }

.room__picture {
  width: 45rem;
  height: 31rem;
  border-bottom-left-radius: 10px; }

.box__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center; }
  .box__grid-1 {
    grid-area: 1 / 1 / 2 / 2; }
  .box__grid-2 {
    grid-area: 1 / 2 / 2 / 3; }
  .box__grid-3 {
    grid-area: 1 / 3 / 2 / 4;
    font-size: 2rem; }

.letter-space {
  letter-spacing: 0.07rem; }

.price {
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 2rem; }

.myBooking__title {
  height: 4rem;
  font-size: 3.5rem;
  color: #1b2835;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  border-bottom: 1px solid #1b2835; }

.ul__myBooking {
  list-style: none;
  font-size: 1.6rem;
  margin-left: 8rem;
  margin-right: 3rem; }

.ul__myBooking .li__booking:before {
  content: '✓';
  padding-right: 1rem;
  margin-left: -2.3rem; }

.register__form-container {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 41rem;
  padding: 3rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
  .register__form-container form {
    margin-top: -2rem; }
  .register__form-container form .data {
    height: 4.5rem;
    width: 100%;
    margin: 3rem 0 4rem 0; }
    .register__form-container form .data label {
      font-size: 1.8rem; }
    .register__form-container form .data input {
      height: 100%;
      width: 100%;
      padding-left: 1rem;
      font-size: 1.7rem;
      border: 1px solid lightgrey; }
  .register__form-container form .form-btn {
    margin: 3rem 0;
    height: 4.5rem;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .register__form-container form .form-btn .inner {
      height: 100%;
      width: 300%;
      position: absolute;
      left: -100%;
      z-index: -1;
      background-color: #1b2835; }
    .register__form-container form .form-btn button {
      height: 100%;
      width: 100%;
      background: none;
      border: none;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer; }
  .register__form-container form .signup-link {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500; }
    .register__form-container form .signup-link a {
      color: #1b2835;
      font-size: 1.8rem;
      font-weight: 500;
      text-decoration: none; }
      .register__form-container form .signup-link a:hover {
        text-decoration: underline; }

.reg__message {
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5rem; }

.message--primary {
  display: block;
  font-size: 3.5rem;
  margin-bottom: 5rem;
  font-family: 'Kaushan Script', cursive;
  color: #333; }

.message--secondary {
  display: block;
  font-size: 2.2rem; }

.footer {
  background-color: #333;
  width: 100%;
  height: 40rem;
  position: relative; }
  .footer--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer--register {
  background-color: #333;
  width: 100%;
  height: 30vh;
  position: relative; }

.footer--image {
  height: 15rem; }

.footer--text {
  font-size: 1.5rem;
  color: white; }

.row {
  max-width: 135rem;
  margin: 0 auto; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 75em) {
    .row {
      max-width: 60rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media (max-width: 75em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }

.row__journey {
  max-width: 165rem;
  margin: 0 auto; }
  .row__journey:after {
    content: "";
    display: table;
    clear: both; }
  .row__journey [class^="col__"] {
    float: left; }
    .row__journey [class^="col__"]:not(:last-child) {
      margin-right: 5rem; }
      @media (max-width: 75em) {
        .row__journey [class^="col__"]:not(:last-child) {
          margin-right: 0; } }
    @media (max-width: 75em) {
      .row__journey [class^="col__"] {
        width: 100% !important; } }
  @media (max-width: 75em) {
    .row__journey {
      max-width: 60rem; } }
  .row__journey .col__journey--1 {
    width: 30rem; }
  .row__journey .col__journey--2 {
    width: 60rem;
    padding: 5rem;
    margin-left: 5rem; }
    @media (max-width: 75em) {
      .row__journey .col__journey--2 {
        margin-left: 0; } }

.row__packages {
  max-width: 130rem;
  margin: 0 auto;
  visibility: hidden; }
  .row__packages:after {
    content: "";
    display: table;
    clear: both; }
  .row__packages [class^="col__"] {
    float: left; }
    .row__packages [class^="col__"]:not(:last-child) {
      margin-right: 5rem; }
      @media (max-width: 75em) {
        .row__packages [class^="col__"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 5rem; } }
    @media (max-width: 75em) {
      .row__packages [class^="col__"] {
        width: 100% !important; } }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7)), url(../img/hotel-background-1.jpg);
  background-size: cover;
  background-position: top; }

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: rgba(30, 144, 255, 0.8);
  position: absolute;
  z-index: 1; }

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  font-family: 'Satisfy', cursive;
  animation: show 1.5s ease;
  font-weight: 600;
  text-decoration: none; }

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  animation: show 1.5s ease; }
  .nav-links li {
    list-style: none; }
  .nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.4rem; }
    @media (max-width: 37.5em) {
      .nav-links a {
        font-size: 1rem; } }

.burger {
  display: none;
  cursor: pointer; }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease; }

.scrolling-active {
  background-color: white;
  border-bottom: 1px solid black;
  animation: moveFromTop 1.5s ease-in;
  z-index: 1500;
  height: 7vh;
  position: fixed;
  backface-visibility: hidden;
  overflow: hidden; }
  .scrolling-active .logo {
    color: black; }
  .scrolling-active .nav-links a {
    color: black; }
  .scrolling-active .burger div {
    background-color: black; }

@media (max-width: 75em) {
  html, body {
    overflow-x: hidden; }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 80vh;
    top: 15vh;
    background-color: rgba(30, 144, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; }
    .nav-links li {
      opacity: 0; }
  .burger {
    display: block; }
  .nav-active {
    transform: translateX(0%); }
  .scrolling-active .nav-links {
    background-color: white;
    top: 7vh;
    height: 93vh;
    border-left: 1px solid black;
    position: fixed; } }

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); }

.section-carousel {
  padding: 25rem 0;
  background-color: white; }

.section-mountain {
  padding: 15rem 0;
  position: relative;
  overflow: hidden; }

.section-journey {
  padding: 15rem 0;
  background-color: white; }

.section-packages {
  padding: 20rem 0;
  background-color: #f4f4f4;
  position: relative; }

.section-form {
  height: 70vh; }

.section-bookings {
  height: 100vh;
  position: relative; }
