.footer {
    background-color: #333;
    width:100%;
    height: 40rem;
    position: relative;


    &--center {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.footer--register {
    background-color: #333;
    width:100%;
    height: 30rem;
    position: relative;
}

.footer--image {
    height: 15rem;
}

.footer--text {
    font-size: 1.5rem;
    color: white;
}