<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">    
        <link rel="stylesheet" href="/css/icon-font.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/8fddbef1ba.js" crossorigin="anonymous"></script>
    </head>
		
    <body>
        <nav>
            <a class="logo" href="/login/user">Paradise Inn</a>
            <ul class="nav-links">
               <li>
                   <a href="/login/user">HOME</a>
                </li> 
               <li>
                   <a href="#">SPECIAL OFFERS</a>
                </li> 
               <li>
                   <a href="#">EVENTS</a>
                </li> 
               <li>
                   <a href="#">CONTACT</a>
                </li> 
                <li>
                    <% if(booking == undefined) { %>
                        <a href="/login/user">MY BOOKINGS</a>
                    <% } else { %>
                        <a href="/login/user/bookings">MY BOOKINGS</a>
                    <% } %>
                 </li>
                 <li>
                    <a href="/logout">LOG OUT</a>
                 </li>  
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <header class="header">
			<div class="header__text-box">
				<h1 class="heading-primary">
					<span class="heading-primary--main">Paradise Inn</span>
                    <span class="heading-primary--sub">Best memories start here</span>
                </h1>
            </div>
        </header>
        <main>
            <section class="section-carousel">
			
                <div class="row">
                    <div class="col-1-of-2">
                        <div class="carousel-container">
                            <div class="carousel">
                                <div class="numbertext">1 / 5</div>
                                <img src="/img/carousel-1.jpg">
                            </div>
                            <div class="carousel">
                                <div class="numbertext">2 / 5</div>
                                <img src="/img/carousel-2.jpg">
                            </div>
                            <div class="carousel">
                                <div class="numbertext">3 / 5</div>
                                <img src="/img/carousel-3.jpg">
                            </div>
                            <div class="carousel">
                                <div class="numbertext">4 / 5</div>
                                <img src="/img/carousel-4.jpg">
                            </div>
                            <div class="carousel">
                                <div class="numbertext">5 / 5</div>
                                <img src="/img/carousel-5.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="col-1-of-2">
                        <div class="carousel__text">
                            <p class="carousel__text--header">
                                <span class="carousel__text--header-block">
                                    Your mountain
                                </span>
                                <span class="carousel__text--header-block">
                                    escape awaits
                                </span>
                            </p>
                            <p class="carousel__text--paragraph">Surrounded by the spectacular Snowy Mountains, Paradise Inn you a unique range of boutique accommodation, activities, facilities and dining options to fully enjoy one of Europe’s most stunning natural playgrounds all year round. Come and play!</p>
                            <div class="u-center-text">
                                <a href="#" class="btn btn--white">Discover more</a>
                            </div>
                        </div>
                    </div>

                </div>
            
            </section>

            <section class="section-mountain">
                <div class="row">
                    <div class="bg-video">
                        <video class="bg-video__content" autoplay muted loop>
                            <source src="/img/Skiing in a winter wonderland.mp4" type="video/mp4">
                            Your browser is not supported!
                        </video>
                    </div>
                    <div class="col-1-of-2">
                        <div class="mountain__text">
                            <p class="mountain__text--header">The best way to experience snow-covered slopes</p>
                            <p class="mountain__text--paragraph">Zooming down snowy mountains, learning new skills, feeling the exhilaration of the cold wind on your face… Skiing is an incredibly fun way to experience winter. Spend the whole day taking lessons or exploring backcountry trails, then come inside for hot chocolate and a hot meal. Finish out the day with a soak in a hot tub, then wake up in the morning and do it all again!</p>
                            <div class="u-center-text">
                                <a href="#" class="btn btn--white">Find out more</a>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </section>

            <section class="section-journey">
                <div class="row__journey">
                    <div class="journey-animation">
                    <div class="col__journey--1">
                        <div class="card">
                            <div class="card__card--1">
                                <div class="glassEffect"></div>
                            </div>
                        
                        </div>
                        <div class="caption">INDOOR YOGA</div>
                    </div>

                    <div class="col__journey--1">
                        <div class="card">
                            <div class="card__card--2">
                                <div class="glassEffect"></div>
                            </div>
                        </div>
                        <div class="caption">SNOW</div>
                    </div>  

                    <div class="col__journey--1">
                        <div class="card">
                            <div class="card__card--3">
                                <div class="glassEffect"></div>
                            </div>
                        </div>
                        <div class="caption">LAKE</div>
                    </div>
                </div>
                
                    <div class="col__journey--2 u-center-text">
                        <div class="journey__text">
                            <p class="journey__text--header">Plan the journey of your dreams</p>
                            <p class="journey__text--paragraph">Paradise Inn offers myriad experiences in a compact area. Our resorts are in distinctly diverse regions and offer a unique sense of place in each.</p>
                            <a href="#" class="btn-text">Learn more about Paradise Inn</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-packages">
                <div class="row__packages">
                    <div class="col__packages">
                        <div class="booking-card">
                            <div class="booking-card__img-1"></div>
                            <div class="u-center-text">
                                <p class="booking-card-paragraph">Twin room</p>
                            </div>
                            <ul class="ul__booking">
                                <li class="li__booking">18 sqm</li>
                                <li class="li__booking">Private bathroom</li>
                                <li class="li__booking">Complimentary bar with snacks</li>
                                <li class="li__booking">Bose Soundtouch Speakers</li>
                                <li class="li__booking">Flatscreen Smart TVs</li>
                                <li class="li__booking">Complimentary high speed internet</li>
                                <li class="li__booking">Optional breakfast arrangements</li>
                            </ul>
                            <div class="u-center-text">
                                <form action="/login/user" method="POST">
                                    <button type="submit" name="room" value="roomBooking_1" class="btn btn--white btn--white-room formButton">Book now</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col__packages">
                        <div class="booking-card">
                            <div class="booking-card__img-2"></div>
                            <div class="u-center-text">
                                <p class="booking-card-paragraph">Double room</p>
                            </div>
                            <ul class="ul__booking">
                                <li class="li__booking">16 sqm</li>
                                <li class="li__booking">Private bathroom</li>
                                <li class="li__booking">Complimentary bar with snacks</li>
                                <li class="li__booking">Bose Soundtouch Speakers</li>
                                <li class="li__booking">Flatscreen Smart TVs</li>
                                <li class="li__booking">Complimentary high speed internet</li>
                                <li class="li__booking">Optional breakfast arrangements</li>
                            </ul>
                            <div class="u-center-text">
                                <form action="/login/user" method="POST">
                                    <button type="submit" name="room" value="roomBooking_2" class="btn btn--white btn--white-room formButton">Book now</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col__packages">
                        <div class="booking-card">
                            <div class="booking-card__img-3"></div>
                            <div class="u-center-text">
                                <p class="booking-card-paragraph">Suites</p>
                            </div>
                            <ul class="ul__booking">
                                <li class="li__booking">30-45 sqm</li>
                                <li class="li__booking">Private bathroom</li>
                                <li class="li__booking">Complimentary bar with snacks</li>
                                <li class="li__booking">Bose Soundtouch Speakers</li>
                                <li class="li__booking">Flatscreen Smart TVs</li>
                                <li class="li__booking">Complimentary high speed internet</li>
                                <li class="li__booking">Optional breakfast arrangements</li>
                                <li class="li__booking">Living area with fold out couch and fold out chair (can sleep up to 3 people)</li>
                                <li class="li__booking">Kitchenette equipped with sink, cooktop, dishes and utensils</li>
                            </ul>
                            <div class="u-center-text">
                                <form action="/login/user" method="POST">
                                    <button type="submit" name="room" value="roomBooking_3" class="btn btn--white btn--white-room formButton">Book now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
        </main>

        <footer class="footer">
            <div class="footer--center">
                <img src="/img/Paradise Inn-logos_white.png" alt="image" class="footer--image">
                <p class="footer--text">Copyright &copy 2021 Paradise Inn.</p>
            </div>
        </footer>
        <script src="/js/app.js"></script>
    </body>		
</html>