.carousel-container {
   margin-left: 4.5rem;
   position: relative;
   visibility: hidden;
}
.carousel-container img {
    background-size: cover;
    height: 40rem;
    width: 60rem;
}

.carousel__text {
	text-align: center;
    visibility: hidden;

	&--header {
		font-size: 5rem;
		margin: 4rem;

		&-block {
			display: block;
		}
	}

	&--paragraph {
		font-size: 1.9rem;
		text-align: center;
		letter-spacing: 2px;
		margin-bottom: 3.5rem;
	}
}

.carousel {
    display: none;
}

.numbertext {
    background-color: rgba(black, 0.5);
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(black, 0.1);
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }