.carousel-container {
    position: relative;
    visibility: hidden;
    overflow: hidden;

    @include respond(tab-land) {
        height: 20rem;
        width:35rem;
        display: table;
        margin: 0 auto;
    }
}
.carousel-container img {
    background-size: cover;
    height: 40rem;
    width: 100%;
    border-radius: 1rem;
    
    @include respond(tab-land) {
        height: 20rem;
        width:35rem;
    }
}

.carousel__text {
	text-align: center;
    visibility: hidden;

    @include respond(tab-land) {
        padding: 3rem;
     }

     @include respond(phone) {
        padding: 2rem;
     }

	&--header {
		font-size: 5rem;
		margin: 4rem;

        @include respond(tab-land) {
            font-size: 4rem;
         }

        @include respond(phone) {
            font-size: 3rem;
        }

		&-block {
			display: block;
		}
	}

	&--paragraph {
		font-size: 1.9rem;
		text-align: center;
		letter-spacing: 2px;
		margin-bottom: 3.5rem;

        @include respond(tab-land) {
            font-size: 1.5rem;
            letter-spacing: 1px;
        }
	}
}

.carousel {
    display: none;
}

.numbertext {
    background-color: rgba(black, 0.5);
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(black, 0.1);
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    border-top-left-radius: 1rem;
  }