.heading-primary {
	color: white;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.heading-primary--main {
	display:block;
	font-size: 7.5rem;
	letter-spacing: 1.6rem;
	margin-bottom: 0.5rem;
	font-family: 'Luckiest Guy', cursive;
	animation: moveFromTop 2s ease-in-out;

	@include respond(phone) {
		letter-spacing: 0.5rem;
	}
}

.heading-primary--sub {
	display:block;
	font-size: 2.5rem;
	letter-spacing: 0.8rem;
	font-family: 'Kaushan Script', cursive;
	backface-visibility: hidden;
	animation: showUp 1s ease-in-out;
}

.mountain__text {
	text-align: center;
	background-color: rgba(255,255,255, 0.9);
	padding:5rem;
	visibility: hidden;

	&--header {
		font-size: 4rem;
		margin: 3rem;
		text-align: center;

		@include respond(phone) {
			font-size: 3rem;
		 }
	}

	&--paragraph {
		font-size: 2rem;
		text-align: justify;
		letter-spacing: 1.5px;
		font-style: italic;
		margin-bottom: 6rem;
	}
}


.journey__text {
	text-align: center;
	visibility: hidden;

	&--header {
		font-size: 4rem;
		margin: 4rem;

        @include respond(phone) {
            font-size: 3rem;
        }
	}

	&--paragraph {
		font-size: 2rem;
		text-align: justify;
		margin-bottom: 4rem;
		letter-spacing: 2px;

		@include respond(tab-land) {
            font-size: 1.5rem;
            letter-spacing: 1px;
			padding-left: 3rem;
			padding-right: 3rem;
			text-align: center;
        }
	
		 @include respond(phone) {
			padding-left: 2rem;
			padding-right: 2rem;
			text-align: center;
		 }
	
	}
}


.caption {
	padding: 3rem;
	text-transform: uppercase;
	font-size: 2rem;
	text-align: center;
}


