.heading-primary {
	color: white;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.heading-primary--main {
	display:block;
	font-size: 75px;
	letter-spacing: 16px;
	margin-bottom: 5px;
	font-family: 'Luckiest Guy', cursive;
	animation: moveFromTop 2s ease-in-out;
}

.heading-primary--sub {
	display:block;
	font-size: 25px;
	letter-spacing: 8px;
	font-family: 'Kaushan Script', cursive;
	backface-visibility: hidden;
	animation: showUp 1s ease-in-out;
}

.mountain__text {
	text-align: center;
	background-color: rgba(255,255,255, 0.9);
	padding:5rem;
	visibility: hidden;

	&--header {
		font-size: 4rem;
		margin: 3rem;
		text-align: center;
	}

	&--paragraph {
		font-size: 2rem;
		text-align: justify;
		letter-spacing: 1.5px;
		font-style: italic;
		margin-bottom: 6rem;
	}
}


.journey__text {
	text-align: center;
	visibility: hidden;

	&--header {
		font-size: 4rem;
		margin: 4rem;
	}

	&--paragraph {
		font-size: 2rem;
		text-align: justify;
		margin-bottom: 4rem;
		letter-spacing: 2px;
	}
}


.caption {
	padding: 3rem;
	text-transform: uppercase;
	font-size: 2rem;
	text-align: center;
}


